.Predict{
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    z-index: 10;

    .text{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;

        h1{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 3.5rem;
            line-height: 63px;
            color: #FFFFFF;
        }

        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 200;
            font-size: 1.5rem;
            color: #FFFFFF;
        }

    }

    .inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vh;
        width: 100%;
        
        .boxinputs{
            display: flex;
            flex-direction: row;
            gap: 5vw;
        }
    }

    
}

/* Estilo geral do input */
input[type="number"] {
    background: rgba(26, 23, 23, 0.52);
    color: #FFFFFF;
    border-bottom: 2px solid rgba(255, 255, 255, 0.096);
    border-radius: 15px;
    height: calc(3rem + 10%);
    width: calc(21rem + 10%);
    padding: 15px;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: #FFFFFF;
    transition: 1s;
}

            /* Estilo quando o input estiver em foco */
input[type="number"]:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.37);
    outline: none;
}

            /* Estilo do botão enviar */
button {
    color: #FFFFFF;
    background: rgba(26, 23, 23, 0.52);
    border-bottom: 2px solid rgba(255, 255, 255, 0.11);
    border-radius: 15px;
    height: 3rem;
    width: 9rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: #FFFFFF;
}

.Ishow{
    button{
        display: none;
    }
}

.result{
    div{

        display: none;

        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 2rem;
            color: #FFFFFF;
        }

        div{
            gap: 15px;
            p{
                font-weight: 200;
                font-size: 1.5rem;
            }
        }

    }
}

.Rshow{
    div{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

.again{
    position: absolute;
    bottom: 2%;
    right: 2%;
    
    button{
        display: none;
    }
}

.Ashow{
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
    }
}